/*
Orange color: #e67e22

*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #0e0d0d;
  color: #fff;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  --color-bright: #f2f1c6;
  --color-orange: #ff6138;
  --body-background-color: #2c3135;

  background: var(--body-background-color);
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
  color: #767bfe;
  font-family: 'Open Sans';
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ----- PARAGRAPHS ----- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ----- ICONS ----- */
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;

  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  -webkit-transition: border-bottom 0.2s, color 0.2s;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type='submit'] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type='submit']:hover,
input[type='submit']:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/louis-reed-wSTCaQpiLtc-unsplash-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/louis-reed-wSTCaQpiLtc-unsplash-min.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  background-attachment: fixed;
}
header h1,
h3 {
  color: #fff;
}

.hero-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}

.hero-text-box img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  margin-bottom: 50px;
}

.logo {
  height: 90px;
  width: 90px;
  float: left;
  margin-top: 20px;
  border-radius: 50%;
}

.logo-black {
  display: none;
  height: 50px;
  width: 50px;
  float: left;
  margin: 5px 0;
  border-radius: 50%;
}

/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* Mobile navi */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
  z-index: 9999;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

/* Sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(44, 38, 38, 0.918);
  box-shadow: 0 2px 2px #181616;
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #fff;
}

.sticky .logo {
  display: none;
}
.sticky .logo-black {
  display: block;
}

/* ----------------------------------------------- */
/* FEATURES */
/* ----------------------------------------------- */
.section-features {
  background-color: #181717;
}

.section-features .long-copy {
  margin-bottom: 30px;
}

/* ----------------------------------------------- */
/* GALLERY */
/* ----------------------------------------------- */

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* ----------------------------------------------- */
/* CURRENT PROJECTS */
/* ----------------------------------------------- */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

/* ----------------------------------------------- */
/* TESTIMONIALS */
/* ----------------------------------------------- */

.section-testimonials {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(img/christian-lue-Pyut03Gn98w-unsplash-min-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/christian-lue-Pyut03Gn98w-unsplash-min-min.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */
.section-form {
  background-color: rgb(36, 36, 36);
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type='checkbox'] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
  background-color: rgb(42, 41, 41);
  padding: 40px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-links {
  list-style: none;
  float: right;
  display: flex;
}

.footer-nav li {
  display: flex;
  margin-right: auto;
}

.social-links li {
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/* ----------------------------------------------- */
/* Animations */
/* ----------------------------------------------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/

#contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#contact-info .links {
  display: flex;
  min-width: 470px;
  justify-content: space-between;
}

#contact-info a {
  text-decoration: none;
  color: var(--color-bright);
  font-size: 2rem;
}

/* ****************** */
/* PREVENTING FLICKERING ON HOVER BECAUSE OF ROTATING AND SKEW TRANSFORMATIONS*/
#contact-info .links a {
  display: block;
  position: relative;
}
#contact-info .links a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  transition: all 0.3s;
}
#contact-info .links a:hover::after {
  /* transform: rotate(35deg) skew(-20deg); */
  --transformed-box-diagonal-length: 164%;
  width: var(--transformed-box-diagonal-length);
  left: calc((100% - var(--transformed-box-diagonal-length)) / 2);
}
/* ****************** */

#contact-info .links a div {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}

#contact-info .links a:hover div {
  transform: rotate(-35deg) skew(20deg);
}

.links a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  /* transition-property: opacity, transform;
  transition-duration: 0.5s; */
  border: 1px solid var(--color-bright);
  /* border-color: var(--color-bright); */
  border-radius: 5px;
}

.links a span:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  /* border-color: var(--color-bright); */
}

.links a:hover span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}
.links a:hover span:nth-child(4) {
  transform: translate(15px, -15px);
  opacity: 0.8;
}
.links a:hover span:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: 0.6;
}
.links a:hover span:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: 0.4;
}
.links a:hover span:nth-child(1) {
  opacity: 0.2;
}

/* orange background spans */
.links a.orange-background span {
  background: var(--color-orange);
  border-color: var(--color-bright);
}
.links a.orange-background span:nth-child(5) {
  background: var(--body-background-color);
}

/* orange shadow */
.links a.orange-shadow:hover span {
  box-shadow: -1px 1px 3px var(--color-orange);
}

/* orange border  */
.links a.orange-border span {
  border-color: var(--color-orange);
}
.links a.orange-border span:nth-child(5) {
  border-color: var(--color-bright);
}

.section-cities {
  background-color: #1e1e20;
}

.gallery {
  background: #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: dense;
}
.overlay {
  opacity: 0.5;
}
.photo:nth-child(2n) {
  grid-column: span 2;
}
.photo:nth-child(n) {
  grid-row: span 2;
}
.photo:nth-child(3n) {
  grid-column: span 3;
}
.photo:nth-child(3n) {
  grid-row: span 3;
}
.gallery img {
  width: 100%;
}
.photo {
  position: relative;
  border: 2px solid #fff;
}
.view-btn {
  background: transparent;
  font-size: 1.4em;
  padding: 10px 20px;
  border: 1px solid #ccc;
  color: #fff;
  opacity: 1;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo-modal {
  /* display: none; */
  grid-column: 1/-1;
  grid-row: 1/-1;
}
